/* Mike Confrey 11-27-2017 */

/* set attributes for entire page */
body {
  font-family: Helvetica; Verdana;
  background-color: white;
  color: gray;
  text-align: center;
}

.fib {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png"); width="830"; height="297";
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.fib a {
  font-size: 18px;
  color: white;
}


img {
    display: inline-block;
}
