/* Mike Confrey 11-27-2017 */

/* set attributes for entire page */
body {
  font-family: Helvetica; Verdana;
  background-color: white;
  color: gray;
  text-align: center;
  font-weight: bold;
}

.fib {
  /* give relative path from stylesheet location to the image location */
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  color: white;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

a {
  font-size: 18px;
  color: white;
}

p {
  font-size: 18;
  font-weight: normal;
}

p a {
  font-weight: bold;
}

span {
  font-size: 11px;
}

.footer {
  text-align: left;
  font-size: 23px;
  color: white;
  background-color: dimgray;
}
